<%= form_for(@user_event) do |f| %>
  <% if @user_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_event.errors.count, "error") %> prohibited this user_event from being saved:</h2>

      <ul>
      <% @user_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_name %><br>
    <%= f.text_field :event_name %>
  </div>
  <div class="field">
    <%= f.label :event_date %><br>
    <%= f.datetime_select :event_date %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id ,:value => current_user.id%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
